<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Succed</title>
</head>
<body>
    <h1>Your Appointment Is Succesfull</h1>
    <h1> We have Fixed Your Appointment at 11: 30</h1>
    <hr>
    <br>
    <%= doctor.doctorName%>
    <hr>
    <br>
    <%= doctor.cabin %>
    <hr>
    <br>
    <%= doctor.specality %>
    <hr>
    <br>
    <%= patientname %>
    <hr>
    <br>
    <%= phoneno %>
    <hr>
    <br>
    <%= description %>
    <hr>
    <br>
    <img src = "<%= qrImage %>">
    <hr> 
    <br>
    <%= TakeCarer%>
    <hr>
    <br>
    <%= createdat%>
    <hr>
    <br>
    <h1>Your Token Number is <%= nextTokenNumber%></h1>
    <hr>
    <br>
</body>
</html>